.egg {
	width: var(--size);
	height: var(--size);
	opacity: 0;
}

.egg-inner {
	position: absolute;
	display: block;
	width: var(--size);
	height: var(--size);
    border-radius: 40% 40% 40% 40% / 80% 80% 40% 40%;
	box-shadow: 0 0 10px #228DFF, 0 0 20px #228DFF, 0 0 30px #228DFF, 0 0 40px #228DFF;
	animation: rotate var(--speed) linear infinite;
}
.egg-inner:nth-child(2) {
	box-shadow: 0 0 10px #ebfdad, 0 0 20px #ebfdad, 0 0 30px #ebfdad, 0 0 40px #ebfdad;
	animation: rotate__other var(--speed) linear infinite;
}
.egg-inner:nth-child(3) {
	box-shadow: 0 0 10px #fb34d5, 0 0 20px #fb34d5, 0 0 30px #fb34d5, 0 0 40px #fb34d5;
	animation: rotate__other var(--speed) linear infinite;
}

.viz4 {
  animation-iteration-count: 1;
  animation: pop 0.5s ease-out;
}