table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}
td {
  width: 6.25%;
  border: .5px solid grey;
  border-top-color: transparent;
  background-color: transparent;
}
td::after {
  content: '';
  display: block;
  margin-top: 100%;
}
td:first-of-type {
  border-left-color: transparent;
  border-top-color: transparent;
}
td:last-of-type {
  border-right-color: transparent;
  border-top-color: transparent;
}
tr:last-of-type td {
  border-bottom-color: transparent;
}

.line {
	animation-iteration-count: infinite;
	height: 10px;
	background: #228DFF;
	top: 3em;
	right: 0;
}


@keyframes move{
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}


.gradient {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 5%;
  left: 0;
  cursor: none;
  background: rgba(0,0,0,1);
  pointer-events: none;
}