table {
  position: absolute;
  top:13%;
  bottom:0;
  left:0;
  right:0;
  overflow: hidden;
}
td {
  border: .5px solid grey;
  border-top-color: transparent;
  background-color: transparent;
}
td::after {
  content: '';
  display: block;
  margin-top: 70%;
}
td:first-of-type {
  border-left-color: transparent;
  border-top-color: transparent;
}
td:last-of-type {
  border-right-color: transparent;
  border-top-color: transparent;
}
tr:last-of-type td {
  border-bottom-color: transparent;
}

.line {
	animation-iteration-count: infinite;
	height: 2px;
	background: #228DFF;
	top: 3em;
	right: 0;
  box-shadow: 0 0 10px #228DFF, 0 0 20px #228DFF, 0 0 30px #228DFF, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 200px #228DFF;

}

@keyframes move{
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}

.gradient {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 6%;
  left: 0;
  bottom: 0;
  cursor: none;
  background: rgba(0,0,0,1);
  pointer-events: none;
}
